// *
// * Erdmann & Freunde
// * OPTIMIST Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *


// VARIABLES

// --------------------------------------------------

@import '../../../assets/nutshell/scss/variables';

// --------------------------------------------------

:root {
  // GENERAL/COLORS
  --color-gray-dark: #233D63;
  --color-gray: #46465D;
  --color-gray-light: #CFD8DC;
  --color-gray-lighter: #FAFCFF;
  --color-purple-dark: #9041FF;
  --color-purple: #6E46AE;
  --color-purple-light: #BF6CFF;
  --color-purple-lighter: rgba(191, 108, 255, 0.075);
  --color-teal-dark: hsl(166, 72%, 38%);
  --color-teal: hsl(166, 72%, 48%);

  --color-tint: var(--color-purple-lighter);
  --color-brand-primary: var(--color-purple);
  --color-brand-primary-light: var(--color-purple-light);
  --color-brand-primary-dark: var(--color-purple-dark);
  --color-brand-secondary: var(--color-teal);
  --color-brand-secondary-dark: var(--color-teal-dark);
  --color-brand: var(--color-brand-primary);
  --color-highlight: var(--color-brand);
  --color-page-background: #FFFFFF;
  --color-text: var(--color-gray-dark);
  --color-text-light: var(--color-gray-light);
  // --------------------------------------------------

  // GENERAL/FONTS
  --base-font-size-lg: 1.125rem;
  --base-font-size-xl: 1.25rem;
  --base-line-height: 1.625;
  --base-font-family-1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  --base-font-family: var(--base-font-family-1);
  // --------------------------------------------------

  // GENERAL/BORDER
  --base-border-radius: 5px;
  --base-border-width: 1px;
  --base-border-color: var(--color-gray-light);
  // --------------------------------------------------

  // GENERAL/SHADOWS
  --base-box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.25);
  // --------------------------------------------------

  // BASE/GRID
  --grid-gutter: 1rem;
  --grid-gutter-half: calc(var(--grid-gutter) / 2);

  @include media-query(screen-sm) {
    --grid-gutter: 1.875rem;
  }
  // --------------------------------------------------

  // BASE/TYPE
  --headings-font-family: var(--base-font-family-1);
  --headings-font-weight: 600;

  --h1-font-size: 1.75rem;
  --h1-font-size-sm: 1.75rem;
  --h1-font-size-md: 2.125rem;
  --h1-font-size-lg: 2.125rem;
  --h1-font-size-xl: 2.25rem;
  --h1-line-height: 1.25;
  --h1-spacing-top: 0;
  --h1-spacing-bottom: 1.5rem;

  --h2-font-size: 1.625rem;
  --h2-font-size-sm: 1.625rem;
  --h2-font-size-md: 1.75rem;
  --h2-font-size-lg: 1.75rem;
  --h2-font-size-xl: 1.875rem;
  --h2-line-height: 1.25;
  --h2-spacing-top: 0;
  --h2-spacing-bottom: 1.5rem;

  --h3-font-size: 1.375rem;
  --h3-font-size-sm: 1.375rem;
  --h3-font-size-md: 1.5rem;
  --h3-font-size-lg: 1.5rem;
  --h3-font-size-xl: 1.5rem;
  --h3-line-height: 1.25;
  --h3-spacing-top: 0;
  --h3-spacing-bottom: 1rem;

  --h4-font-size: 1.125rem;
  --h4-font-size-sm: 1.125rem;
  --h4-font-size-md: 1.25rem;
  --h4-font-size-lg: 1.25rem;
  --h4-font-size-xl: 1.25rem;
  --h4-line-height: 1.25;
  --h4-spacing-top: 0;
  --h4-spacing-bottom: 0.5rem;

  --h5-font-size: 1rem;
  --h5-font-size-sm: 1rem;
  --h5-font-size-md: 1rem;
  --h5-font-size-lg: 1rem;
  --h5-font-size-xl: 1rem;
  --h5-line-height: 1.25;
  --h5-spacing-top: 0;
  --h5-spacing-bottom: 0.5rem;

  --h6-font-size: 0.875rem;
  --h6-font-size-sm: 0.875rem;
  --h6-font-size-md: 0.875rem;
  --h6-font-size-lg: 0.875rem;
  --h6-font-size-xl: 0.875rem;
  --h6-line-height: 1.25;
  --h6-spacing-top: 0;
  --h6-spacing-bottom: 0;

  --alert-text: var(--color-brand-primary);
  --alert-border: var(--color-brand-primary);

  --paragraph-link-color:  var(--links-color);
  --paragraph-link-decoration: underline;
  --paragraph-link-decoration-hover: none;

  --code-background: var(--color-gray-light);
  --code-color: var(--color-highlight);
  --pre-color-background: var(--color-gray-light);
  --pre-color: var(--color-text);
  // --------------------------------------------------

  // BASE/LAYOUT
  --layout-header-background:  var(--color-page-background);
  --layout-header-color:       var(--color-text);
  --layout-footer-background:  transparent;
  --layout-footer-color:       var(--color-text);
  // --------------------------------------------------

  // BASE/ARTICLE
  --article-highlight-background: linear-gradient( -165deg, var(--color-purple-light), var(--color-purple));
  --article-highlight-color: var(--color-text-inverted);
  --article-tint-background: var(--color-tint);
  --article-dark-background: var(--color-gray-dark);
  --article-dark-color: var(--color-text-inverted);

  --article-spacing-top: var(--base-spacing-unit-lg);
  --article-spacing-bottom: var(--base-spacing-unit-lg);

  @include media-query(screen-lg) {
    --article-spacing-top: var(--base-spacing-unit-xl);
    --article-spacing-bottom: var(--base-spacing-unit-xl);
  }
  // --------------------------------------------------

  // COMPONENTS/MEDIA
  --image-border:  var(--base-border);
  --image-caption-padding: var(--base-spacing-unit);
  // --------------------------------------------------

  // COMPONENTS/LINKS
  --links-color:             var(--color-brand-secondary);
  --links-color-hover:       var(--color-brand-secondary-dark);

  --button-color:                      var(--color-text-inverted);
  --button-background:                 linear-gradient(45deg, var(--color-brand-primary) 0, var(--color-brand-primary-light) 100%);
  --button-background-hover:           linear-gradient(-135deg, var(--color-brand-primary) 0, var(--color-brand-primary-dark) 100%);
  --button-spacing:                    var(--base-spacing-unit-xs) var(--base-spacing-unit);
  --button-border-radius:              2rem;
  --button-shadow-primary:             0 10px 40px 0 rgba(50, 50, 50, 0.25);

  --button-color-secondary:            var(--color-text-inverted);
  --button-background-secondary:       var(--color-brand-secondary);
  --button-background-secondary-hover: var(--color-brand-secondary-dark);

  --button-background-highlight:       var(--color-text);
  --button-background-highlight-hover: var(--color-brand-secondary);
  --button-color-highlight:            var(--color-text-inverted);
  // --------------------------------------------------

  // COMPONENTS/NAVIGATION
  --nav-item-padding:         var(--nav-main-item-padding);
  --nav-main-color:           var(--color-text);
  --nav-main-color-hover:     var(--color-brand);
  --nav-main-color-active:    var(--color-brand);
  --nav-main-item-padding:    0.5rem;
  --nav-main-item-padding-sm: 0.25rem;
  --nav-main-font-size:       0.875rem;
  --nav-main-font-weight:     600;

  --nav-mobile-background: var(--color-page-background);
  --nav-mobile-color:      var(--color-text);
  --nav-mobile-font-size:  var(--base-font-size-xl);

  --nav-icon-width:  1.25rem;
  --nav-icon-stroke: 2px;

  --nav-submenu-item-padding: var(--base-spacing-unit-sm);
  // --------------------------------------------------

  // COMPONENTS/SLIDER
  --slider-arrow-color:             var(--color-brand);
  --slider-arrow-size:              2rem;
  --slider-menu-point-size:         2rem;
  --slider-menu-point-color:        inherit;
  --slider-menu-point-color-active: var(--color-brand);
  --slider-arrow-padding:           var(--base-spacing-unit-sm);
  // --------------------------------------------------

  // COMPONENTS/NEWS

  // --------------------------------------------------

  // COMPONENTS/EVENTS
  --events-shadow:        var(--base-box-shadow);
  --events-border-radius: var(--base-border-radius);
  // --------------------------------------------------

  // COMPONENTS/FORMS
  --forms-input-line-height: var(--base-line-height);
  // --------------------------------------------------

  // COMPONENTS/ACCORDION
  --accordion-spacing:             var(--base-spacing-unit-sm);
  --accordion-toggler-font-size:   var(--base-font-size);
  --accordion-toggler-background:  transparent;
  --accordion-toggler-color:       inherit;
  --accordion-toggler-border:      var(--base-border);
  --accordion-toggler-spacing:     var(--base-spacing-unit-sm);
  --accordion-toggler-icon-size:   1;
  --accordion-toggler-font-weight: 700;

  --accordion-content-spacing:     0 var(--base-spacing-unit) var(--base-spacing-unit);
  --accordion-content-background:  var(--color-page-background);
  --accordion-content-border:      var(--base-border);
  // --------------------------------------------------

  // COMPONENTS/DOWNLOADS

  // --------------------------------------------------

  // COMPONENTS/TABLES

  // --------------------------------------------------

  // COMPONENTS/NEWSLETTER
  --newsletter-list-font-family: var(--headings-font-family);
  --newsletter-list-font-weight: var(--headings-font-weight);
  // --------------------------------------------------

  // COMPONENTS/FAQ
  --faq-border: none;
  // --------------------------------------------------

  // COMPONENTS/COMMENTS
  --comments-reply-background: var(--color-gray-light);
  // --------------------------------------------------

  // COMPONENTS/SEARCH

  // --------------------------------------------------

  // COMPONENTS/CARD
  --card-border:        var(--base-border);
  --card-shadow:        var(--base-box-shadow);
  --card-border-radius: var(--base-border-radius);
  --card-background:    var(--color-page-background);
  --card-padding:       var(--base-spacing-unit);
  // --------------------------------------------------

  // HELPER/TRUMPS

  // --------------------------------------------------
}
