// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/ACCORDION
// --------------------------------------------------

@import '../../../assets/nutshell/scss/components/accordion';

// --------------------------------------------------

// default accordion
.ce_accordion {
  display: grid;
  align-self: start;

  .toggler {
    --card-padding: var(--accordion-toggler-spacing);
    @include card;

    font-weight: var(--accordion-toggler-font-weight);
    vertical-align: middle;
    -webkit-transition: border-radius 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: border-radius 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: border-radius 0.3s, box-shadow 0.3s, transform 0.3s;
    transition: border-radius 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;

    &:hover {
      &.ui-accordion-header-active {
        -webkit-transform: none;
                transform: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }
  }

  .ui-accordion-header-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  // [1] define size for plus/cross
  .ui-accordion-header-icon {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    display: inline-block;

    &::before {
      content: '→';
    }
  }

  .ui-icon-triangle-1-s {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .accordion {
    border: var(--accordion-content-border);
    border-top: none;
  }

  .ce_text {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
