// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/FACTS
// --------------------------------------------------

.fact {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  #{headings()} {
    @extend %_h5;
  }

  .image_container {
    margin-bottom: var(--base-spacing-unit);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;

    img {
      margin-left: 0;
    }
  }
}
