// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/MEDIA
// --------------------------------------------------

@import '../../../assets/nutshell/scss/components/media';

// --------------------------------------------------

.ce_image {
  @supports not(display: grid) {
    margin-bottom: var(--grid-gutter);
  }

  a {
    display: grid;
    height: 100%;
    grid-auto-rows: auto 1fr;
  }

  img {
    margin-bottom: 0;
    justify-self: center;
  }

  .caption {
    width: 100%;
    padding: var(--image-caption-padding);
    margin-top: 0;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    border: var(--image-border);
    border-top: none;
  }
}

.image--border {
  img {
    border: var(--image-border);
  }
}

.ce_text {
  overflow: visible;

  .float_left,
  .float_right {
    position: relative;
    margin-bottom: var(--grid-gutter);

    @include media-query(screen-sm) {
      max-width: 50%;
      margin-bottom: 0;
    }
  }

  .float_left {
    @include media-query(screen-sm) {
      margin-right: var(--grid-gutter);
    }
  }

  .float_right {
    @include media-query(screen-sm) {
      margin-left: var(--grid-gutter);
    }
  }

  .caption {
    font-size: var(--base-font-size-xs);
    font-style: italic;
  }
}
