// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// BASE/TYPE
// --------------------------------------------------

@import '../../../assets/nutshell/scss/base/type';

// --------------------------------------------------

// heading alignment
.heading--left {
  text-align: left;
}

.heading--center {
  text-align: center;
}

.heading--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--attention {
  font-size: 1.125rem;
  line-height: 1.5;
  opacity: 0.75;

  @include media-query(screen-md) {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: var(--base-spacing-unit-lg);
  }
}

.text--alert {
  padding: var(--base-spacing-unit);
  border-radius: var(--base-border-radius);
  border: 2px solid var(--alert-border);
  color: var(--color-alert);

  #{headings()} {
    @extend %_h4;

    &:first-child {

      .ce_text + & {
        margin-top: 0;
      }
    }
  }
}

.text--narrow {
  @include media-query(screen-md) {
    max-width: percentage(9/12);
    margin-left: auto;
    margin-right: auto;
  }

  @include media-query(screen-lg) {
    max-width: percentage(7/12);
  }
}

// Paragraph, Lists
p,
ul,
ol {
  a {
    &:hover {
      --paragraph-link-color: var(--links-color-hover);
    }
  }
}

// Lists
ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-left: var(--base-spacing-unit-lg);
}

.checklist {
  ul {
    margin-left: 0;
    list-style-type: none;
  }

  li {
    margin-left: 2rem;
    text-indent: -2rem;
    margin-bottom: var(--base-spacing-unit);

    &::before {
      content: '✔︎';
      text-indent: -9999rem;
      display: inline-block;
      width: 2rem;
      height: calc(var(--base-line-height) * 1rem);
      line-height: var(--base-line-height);
      background: url('/files/theme/img/icons/checkmark.svg') left center / 24px 24px no-repeat;
      vertical-align: bottom;
    }
  }
}

// Blockquotes
blockquote {
  margin: var(--base-spacing-unit) 0;
}

// code
// [1] contao 4.4: used inside ce_code element
code {
  background: var(--code-background);
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: var(--base-border-radius);
  color: var(--color-text);

  // [1]
  pre & {
    background: none;
    color: inherit;
  }
}
