// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/contao-themes/optimist
// *

//
// COMPONENTS/MEDIA
// --------------------------------------------------

@import '../../../assets/nutshell/scss/components/media';

// --------------------------------------------------

.content-image {
  @supports not (display: grid) {
    margin-bottom: var(--grid-gutter);
  }

  a {
    display: grid;
    height: 100%;
    grid-auto-rows: auto 1fr;
  }

  img {
    margin-bottom: 0;
    justify-self: center;
  }

  figcaption {
    width: 100%;
    padding: var(--image-caption-padding);
    margin-top: 0;
    -ms-hyphens: auto;
        hyphens: auto;
    border: var(--image-border);
    border-top: none;
  }
}

.image--border {
  img {
    border: var(--image-border);
  }
}

.content-text {
  &.media--left,
  &.media--right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    figure {
      position: relative;
      margin-bottom: var(--grid-gutter);

      @include media-query(screen-sm) {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 40%;
                flex: 0 1 40%;
        margin-bottom: 0;
      }
    }

    .rte {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(60% - var(--grid-gutter));
              flex: 1 0 calc(60% - var(--grid-gutter));
    }
  }

  &.media--left {
    figure {
      @include media-query(screen-sm) {
        margin-right: var(--grid-gutter);
      }
    }
  }

  &.media--right {
    figure {
      @include media-query(screen-sm) {
        margin-left: var(--grid-gutter);
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
      }
    }
  }

  figcaption {
    font-size: var(--base-font-size-xs);
    font-style: italic;
  }
}

// für news und event-listen
.ce_text {
  overflow: visible;

  .float_left,
  .float_right {
    position: relative;
    margin-bottom: var(--grid-gutter);

    @include media-query(screen-sm) {
      max-width: 50%;
      margin-bottom: 0;
    }
  }

  .float_left {
    @include media-query(screen-sm) {
      margin-right: var(--grid-gutter);
    }
  }

  .float_right {
    @include media-query(screen-sm) {
      margin-left: var(--grid-gutter);
    }
  }

  .caption {
    font-size: var(--base-font-size-xs);
    font-style: italic;
  }
}
